.MobileAppPanel {
    padding-top: 40px;
    padding-bottom: 40px;
    background: url("./images/CityBackground.png") repeat-x bottom #fff;
    background-size: auto 190px;
    text-align: center;
    overflow: hidden;
}


.MobileAppPanel__Container {
    flex-wrap: nowrap;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
    max-width: 1020px;
}


.MobileAppPanel__Layers {
    order: 1;
    margin-top: 0;
    margin-right: 40px;
    flex: 1 1 auto;
    height: 360px;
    position: relative;
    max-width: 100%;
    margin: -20px auto 0;
    transform: translateZ(0);
}
