.SiteFooter {
    background: #f8f8f8;
    z-index: 1;
    position: static;
    padding: 20px;
  }

 .Company__Links {
      text-align: center;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
      justify-content: center;
  }


  .CompanyLinks__A__Tags {
      text-align: left;
      color: #999;
      padding-right: 60px;
  }

  .Icons__Div {
      text-align: center;
      margin-top: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
  }

.Socialmedia__Icons {
    color: #999;
    padding-right: 60px;
}
.Apple__Icon {
    width: 92px;
    height: 28px;
    background-image: url(https://www.delivery.com/images/applestore.png);
    display: inline-block;
    text-decoration: none;
    font-size: 0;
    margin-right: 60px;
}

.Google__Icon {
    width: 79px;
    height: 28px;
    background-image: url(https://www.delivery.com/images/googleplay.png);
    margin-right: 0;
    display: inline-block;
    text-decoration: none;
    font-size: 0;
}
